 <!-- Navigation Bar -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">MEDILIVE HOSPITALS</a>
  <div style="display: flex;  ">
    <a class="btn btn-custom mx-2" href="/adlogin">Login as Admin</a>
    <a class="btn btn-custom" href="/doclogin">Login as Doctor</a>
  </div>
 
</nav>

<!-- Carousel -->
<app-carousal></app-carousal>

<!-- Features Section -->
<div class="container my-5">
  <h2 class="text-center mb-4">Why Choose MEDILIVE Healthcare?</h2>
  <div class="row">
    <div class="col-md-3 feature-box">
      <img src="assets/h4.jpg" alt="Feature 1" />
      <h4>Expert Doctors</h4>
      <p>
        Our network comprises the finest and brightest medical experts
        providing compassionate care.
      </p>
    </div>
    <div class="col-md-3 feature-box">
      <img src="assets/h5.jpg" alt="Feature 2" />
      <h4>Advanced Technology</h4>
      <p>
        Utilizing outstanding expertise and state-of-the-art technology for
        best clinical outcomes.
      </p>
    </div>
    <div class="col-md-3 feature-box">
      <img src="assets/h7.jpg" alt="Feature 3" />
      <h4>Emergency Services</h4>
      <p>
        Get advanced emergency care anytime. For free ambulance service, dial
        "1066".
      </p>
    </div>
    <div class="col-md-3 feature-box">
      <img src="assets/h6.jpg" alt="Feature 4" />
      <h4>Heart Institute</h4>
      <p>
        Renowned for cardiology and cardiothoracic surgeries, MEDILIVE Heart
        Institutes are among the best in India.
      </p>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="bg-dark text-white py-4">
  <div class="container text-center">
    <p>Contact: 1860 344 5454</p>
    <p>© 2024-2025 MEDILIVE Hospitals, Inc.</p>
  </div>
</footer>